.top{
    
    text-align: center;
    border-bottom: 2px solid black;
}
.top h3{
    margin-top: 70px;
}
.top h5{
    margin-top: 75px;
    margin-bottom: 30px;
}
.con{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 20px;
    
}
.left{
    
    width: 80%;
    margin-left: 50px;
}

.right{
   
    width: 80%;
}
.pic{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}