body {
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
    
}
.top{
    height: 80px;
    margin-top: -60px;
}
.top:hover{
    background-color: white;
    
}
.tp{
    background-color: black;
    color:white;
    text-align: center;
    height: 30px;
    margin-top: -15px;

}

.top h1{
    float: left;
    text-align: center;
    padding: 0px 16px;
    
}
.subnav{
    float: left;
    overflow: hidden;
    padding: 25px 5px;
    border: none;
}
.subnav .subnavbtn {
    
    font-size: 16px;  
    border:none;
    outline: none;
    padding: 10px 10px;
    background-color: inherit;
    
}
.navbar a:hover, .subnav:hover ,.subnavbtn:hover{
    text-decoration: underline;
}


.navcontent {
    display: none;
    position: absolute;
    left: 0;
    background-color: white;
    z-index: 1;
    width: 100%;
}
.navcontent ul li {
    margin-left: 20px;
}
.subnav:hover .navcontent {
    display: block;
}
.navcontent a {
    float: left;
    color:black;
    text-decoration: none;
}
.navcontent a:hover {
    background-color: #eee;
    color: black;
}
.right{
    display: flex;
    margin: auto;
    width: 300px;
    margin-top: 60px;
    margin-right: 0px;
    
}


video {
    object-fit: fill;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    width: 100%;
    top: 3px;
    
}
.jacket{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 600px;
}
.jacket > div{
    width:100%;
    position: relative;
}
.jacket img{
    width: 100%;
}
.text{
    position: absolute;
    top: 50px;
    margin-left: 25px;
    font-size: 20px;
} 
.whitetext{
    position: absolute;
    top: 50px;
    margin-left: 25px;
    font-size: 20px;
    color: white;
}
.product{
    text-align: center;
    margin-top: 145px;
    margin-bottom: 120px;
}
.product a{
    color: black;
    text-decoration: none;
}
.pic{
    width: 100%;
    position: relative;
}
.pic img{
    width: 100%;
}
.pic h1{
    position: absolute;
    top: 400px;
    margin-left: 45px;
    font-size: 40px;
    color: white;
}
.pic p{
    position: absolute;
    top: 350px;
    margin-left: 45px;
    font-size: 18px;
    color: white;
}
.data{
    width:100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-left: 20px;
    margin-top: 20px;
}
#input{
    height: 25px;
    width: 300px;
    border-top: none;
    border-left: none;
    border-right: none;
    
}
