body {
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
    
}
.top{
    border: 2px solid black;
    height: 500px;
    
}

.top h1{
    float: left;
    text-align: center;
    padding: 14px 16px;
    border: 2px solid black;
}
.subnav{
    float: left;
    overflow: hidden;
    padding: 35px 5px;
}
.subnav .subnavbtn {
    
    font-size: 16px;  
    border: 2px solid red;
    outline: none;
    padding: 10px 10px;
    background-color: inherit;
    
}
.navbar a:hover, .subnav:hover ,.subnavbtn {
    background-color: red;
    text-decoration: underline;
}
.top h1:hover{
    background-color: red;
}

.navcontent{
    display: none;
    position: absolute;
    left: 0;
    background-color: red;
    z-index: 1;
    width: 100%;
}
.navcontent ul li {
    text-decoration: none;
    margin-left: 20px;
}
.subnav:hover .navcontent {
    display: block;
}
.navcontent a {
    float: left;
    color: white;
    text-decoration: none;
}
.navcontent a:hover {
    background-color: #eee;
    color: black;
}
.jacket{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    border: 2px solid red;
    
}
.jacket > div{
    width:100%;
    border: 2px solid blue;
    position: relative;
}
.jacket img{
    width: 100%;
}
.text{
    position: absolute;
    top: 50px;
    margin-left: 25px;
    font-size: 20px;
} 
.product{
    border: 2px solid black;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}
.pic{
    width: 100%;
    border: 2px solid red;
    position: relative;
}
.pic img{
    width: 100%;
}
.pic h1{
    position: absolute;
    top: 400px;
    margin-left: 45px;
    font-size: 40px;
    color: white;
}
.pic p{
    position: absolute;
    top: 350px;
    margin-left: 45px;
    font-size: 18px;
    color: white;
}
.data{
    width:100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-left: 20px;
    margin-top: 20px;
}
#input{
    height: 25px;
    width: 300px;
    border-top: none;
    border-left: none;
    border-right: none;
    
}
.back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    width: 100%;
}